<!DOCTYPE html>
<html>
  <head>
    <title>USER PROFILE</title>
    <style>
      .account-img {
        max-width: 75px; /* Set the maximum width */
        max-height: 150px; /* Set the maximum height */
        border-radius: 35%; /* Make the image round */
      }
    </style>
  </head>
  <body>
    {% block content %}
    <div class="content-section">
      <div class="media">
        <img class="account-img" src="{{ user.profile.image.url }}" />
        <div class="media-body">
          <h2 class="account-heading">{{ user.username}}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.profile.bio }}</p>
          <!-- Display user's bio -->
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    {% endblock content %}
  </body>
</html>
