/*@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
}
*body{
    font-size: 16px;
    width: 100%;
    height: 100%;
}
/*.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}*/
nav{
    
    background-color: #FAA916;
    color: #fff;
    padding:20px 0px;
}
nav .navbar {
    color: #f3f3f3;
    max-width: 1200px;
    justify-content: space-between;
    padding: 0px 20px;
    display: flex;
    text-align: center;
    margin: 0px auto;
}
nav h1{
    font-size: 24px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-right: 0px;
}
nav ul li a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: #073B4C 0.3s;
}
nav ul li a:hover{
    cursor: pointer;
}
nav ul li a.active{
    color: #073B4C;
}

.hero{
    background:#FAA916;
    color: #f3f3f3;
    /*background-image: url(static/download.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    text-align: center;
    padding: 100px 0px;
}
.hero h2{
    font-size: 48px;
    text-transform: uppercase;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
    padding: 100px 0px;
}
main .container{
    width: 100%;
    display: block;
    background-color: #ddd;
    margin: auto;
}*/
main .container p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
    float: left;
}
main .content p{
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
    float: left;
}
main .social{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.container .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
}
main h2{
    margin-bottom: 20px;
    
}
footer .container{
    background-color: #FAA916;
    text-align: center;
    margin: 0px auto;
    max-width: 1200px;
    padding: 0px;
}
footer p{
color: #222;
/*padding: 0px 20px;*/
text-align: center;
}
@media screen and (max-width: 768px){
    nav .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 100px;
        flex-direction: column;
    }
    nav ul{
        margin-top: 20px;
    }
    nav ul li{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .hero h2{
        font-size: 36px;
    }
    

    
}