* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.b-primary{
    background: #FAA916!important;
}
.c-primary{
    color: #FAA916;
}

.hero{
    min-height: 125vh;
    width: 100%;
    position: relative; 
}

.hero::before {
    background: #FAA916;
    height: 100%;
    width: 100%; 
    content: '';
    position: absolute;
    clip-path: circle(1450px at 85% -85%); 
    /* clip-path: ellipse(100% 60% at 80% 30%);
    transform: rotateY(30deg); */
}

.nav-top {
    position: fixed; 
    width: 100%;
    background: #FAA916;
    z-index: 2;
}

 


.nav-links ul{
    list-style: none;
}

.nav-links ul li{
    display: inline-block;
    margin-right: 10px;
}

.nav-links ul li a{
    transition: .2s ease;
    font-weight: bold;
}

.nav-links ul li a:hover{
    color: #fff!important;
}

a{
    text-decoration: none!important;
    color: #FFFFFF!important;
}

.signin i{
    cursor: pointer;
}

.signin a{
    border: 1px solid #fff;
    border-radius: 20px;
    transition: .3s ease-in-out;
    display: block;
    padding: 2px 30px;
}

.signin a:hover{
    background: #fff;
    color: #FAA916!important;
}


.content {
    position: relative;
    height: 100vh;
}

.content .image img:nth-child(1){
    opacity: 1;
}

.image{
    /* background: red;  */
    width: 500px;
    height: 500px;
    margin-left: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content .image img{
    height: auto;
    width: 100%;
    /* opacity: 0;
    transition: opacity 1s ease-in-out; */
}


.content .icon{
    position: absolute;
    bottom: 0;
    left: 5%;
    color: #FAA916;
}

.content .icon i {
    cursor: pointer;
}

.service-list ul{
    list-style-type: none;
}

.products {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.products::-webkit-scrollbar {
    width: 5px;  
}

.products::-webkit-scrollbar-track {
    background-color: #eee;  
}

.products::-webkit-scrollbar-thumb {
    background-color: #FAA916;  
    border-radius: 10px;
     
}

.products::-webkit-scrollbar-thumb:hover {
    background-color: #FFC107;  
}


.product-card{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.product-card span{
    font-size: .5em;
}
.product-card p, 
.product-card button{
    font-size: .7em!important;
}
.product-image-holder{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.product-image-holder img{
    max-width: 100%;
    height: auto;
    object-fit: fill;
}

/* .product-image{
   width: 100%;
   height: auto;
} */

.product-card a:hover{
    background: #fff;
}


.offcanvas{
    background: transparent!important;
    backdrop-filter: blur(10px);
}
 
.offcanvas ul {
    list-style: none;
}

.offcanvas ul li a{
    display: block;
    width: 100%;
    padding: 10px;
    transition: .5s ease;
}

.offcanvas ul li a:hover{
    background: #FFC107;
}