* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: #eee;
}

.hero::before {
    background: red;
    height: 100%;
    width: 100%; 
    content: '';
    position: absolute;
    /* clip-path: circle(1500px at 90% -90%); */
    clip-path: ellipse(100% 60% at 80% 30%);
    transform: rotateY(30deg);
}
