<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="..." crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>LocalBizConnect</title>
</head>
<body>
    <div class="section">
        <header class="hero">
            <div class="hero-content">
                <h1>LocalBizConnect</h1>
                <p>We are a team of passionate individuals dedicated to provviding top-notch services <br>via our platform that connects many different businesses with customers</p>
            </div>
        </header>
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Welocome to LocalBizConnect! </h3>
                    <p>We are dedicated to connecting small businesses with customers in their local communities. Our platform provides a space where small businesses can showcase their products and services, and customers can discover unique offerings in their area.</p>
                    <p>We're dedicated to connecting local businesses with customers in the community</p>
                </div>
                <div class="button">
                    <a href="">Read More</a>
                </div>
                <div class="social">
                    <a href=""> <i class="fab fa-facebook-f"></i></a>
                    <a href=""> <i class="fab fa-twitter"></i></a>
                    <a href=""> <i class=" fab fa-instagram"></i></a>
                 </div>
            </div>
            <div class="image-section">
                <img src="/static/download.jpeg">
             </div>
        </div>

    </div>
    
</body>
</html>